* {
    margin: 0;
    padding: 0;
}
.body{
    background-color: #87CEEB;
    padding: 10px 20px 0;
}
.header{
    font-family: Andale Mono, monospace;
    padding: 5px;
    background-color: #549BE3;
    border-radius: 30px;
    margin-bottom: 10px;
    border: 2px #FEFFF5 solid;
}
.header__title {
    text-transform: uppercase;
    text-align: center;
    color: #FEFFF5;
}
.header__blockquote {
    font-size: 20px;
    margin: 7px;
    color: #FEFFF5;
    text-align: right;
}
.header__menu{
    color: #FEFFF5;
    text-align: left;
    margin: 15px;
    margin-left: 50px;
    font-size: 25px;
}
.header__menu__ul__elem{
    display: inline-block;
    background-color: #FEFFF5;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
}
.header__menu__ul__elem-a{
    text-decoration: none;
}
.main {
    font-family: Andale Mono, monospace;
    padding: 15px;
    background-color: #549BE3;
    border-radius: 30px;
    border: 2px #FEFFF5 solid;
}
.main__section{
    background-color: #FEFFF5;
    margin-bottom: 5px;
    border-radius: 10px 100px / 120px;
    padding: 10px 30px;
}
.main__section__title{
    letter-spacing: 4px;
    line-height: 40px;
    margin-bottom: 5px;
    color: #549BE3;
    font-family: Andale Mono, monospace;
}
.main__section__paragraph{
    text-indent: 40px;
    color: #549BE3;
    font-family: Andale Mono, monospace;
    margin-bottom: 20px;
}
.main__section__cardProduct{
    display: inline-block;
    width: 400px;
    margin: 5px auto;
    text-align: center;
}
.main__section__cardProduct__img{
    width: 300px;
    height: 300px;
    margin: auto;
    border: #549BE3 solid 2px;
    box-shadow: -2px 2px 5px #549BE3;
}
.main__section__cardProduct__productName{
    font-size: 20px;
    color: #549BE3;
    margin-bottom: 5px;
}
.main__section__cardProduct__productCost{
    font-size: 20px;
    color: #549BE3;
}
.footer{
    font-family: Andale Mono, monospace;
    padding: 10px;
    background-color: #549BE3;
    border-radius: 30px;
    margin-bottom: 10px;
    border: 2px #FEFFF5 solid;
    color: #FEFFF5;
}
.footer__section__title{
    letter-spacing: 4px;
}