* {
    margin: 0;
    padding: 0;
}
.body{
    background-color: #87CEEB;
    padding: 10px 20px 0;
}
.header{
    font-family: Yanone Kaffeesatz, monospace;
    padding: 5px;
    background-color: #549BE3;
    border-radius: 30px;
    margin-bottom: 10px;
    border: 2px #FEFFF5 solid;
}
.header__title {
    text-transform: uppercase;
    text-align: center;
    color: #FEFFF5;
}
.header__blockquote {
    font-size: 120%;
    margin: 7px;
    color: #FEFFF5;
    text-align: right;
}
.header__menu{
    color: #FEFFF5;
    margin: 15px 15px 15px 50px;
    font-size: 120%;
}
.header__menu__ul{
    display: flex;
}

@media screen and (max-width: 1000px){
    .header__menu__ul {
        flex-direction: column;
    }
}
.header__menu__ul__elem{
    display: inline-block;
    background-color: #FEFFF5;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.header__menu__ul__elem:hover{
    background-color: skyblue;
}

.header__menu__ul__elem-a{
    text-decoration: none;
}
.main {
    font-family: Yanone Kaffeesatz, monospace;
    padding: 15px;
    background-color: #549BE3;
    border-radius: 30px;
    border: 2px #FEFFF5 solid;
    margin-bottom: 10px;
}
.main__section{
    background-color: #FEFFF5;
    margin-bottom: 5px;
    border-radius: 10px 100px / 120px;
    padding: 10px 30px;
}
.main__section__title{
    letter-spacing: 4px;
    line-height: 40px;
    margin-bottom: 5px;
    color: #549BE3;
    font-family: Yanone Kaffeesatz, monospace;
}
.main__section__paragraph{
    text-indent: 40px;
    color: #549BE3;
    font-family: Yanone Kaffeesatz, monospace;
    margin-bottom: 20px;
}
.main__section__cardProduct{
    width: 400px;
    margin: 5px auto;
    text-align: center;
}
.main__section__cardProduct__img{
    width: 150px;
    margin: auto;
    border: #549BE3 solid 2px;
    box-shadow: -2px 2px 5px #549BE3;
}
.main__section__cardProduct__productName{
    font-size: 115%;
    color: #549BE3;
    margin-bottom: 5px;
}
.main__section__cardProduct__productCost{
    font-size: 115%;
    color: #549BE3;
}
.footer{
    font-family: Yanone Kaffeesatz, monospace;
    padding: 10px;
    background-color: #549BE3;
    border-radius: 30px;
    margin: 10px 0;
    border: 2px #FEFFF5 solid;
    color: #FEFFF5;
}
.footer__section{
    /*position: absolute;*/
}
.footer__section__title{
    letter-spacing: 4px;
}
.main__section__blockCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.div__mediaScreen{
    position: absolute;
}
.div__mediaScreen__img{
    margin-top: 10px;
    width: 1410px;
    height: 140px;
}
@media screen and (max-width: 1480px){
    .div__mediaScreen{
        display: none;
    }
}

.grid-table {
    min-width: 60vw;
    width: auto;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 1fr 1fr 1fr;
}

thead, tbody, .grid-table-tr {
    display: contents;
}

.grid-table-th, .grid-table-td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-table-th {
    top: 0;
    background: #549BE3;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
    border: blue 2px solid;
}

.grid-table-td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FEFFF5;
    border: blue 2px solid;
}

.grid-table-tr:nth-child(even) td {
    background: #FEFFF5;
    color: #549BE3;
}

.active{
    padding: 3px;
    border-radius: 8px;
    background-color: blue;
    color: white;
}

.delete_button{
    margin: 7px 5px 7px 10px;
    padding: 3px 5px;
    border: solid blue 3px;
    border-radius: 7px 0 7px 0;
    background-color: white;
    font-family: Yanone Kaffeesatz, monospace;
    font-size: 1.2em;
}

.form_lab5{
    text-align: center;
    border-radius: 10px;
    background-color: aqua;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border: solid white 2px;
}
.wishesInput{
    border-radius: 7px;
    border: solid #549BE3 2px;
    padding: 5px;
}
.add_button{
    margin: 10px;
    padding: 3px 5px;
    border-radius: 7px;
    border: solid white 2px;
    background-color: #549BE3;
    font-family: Yanone Kaffeesatz, monospace;
    font-size: 1.2em;
}
.wishesList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li_wish{
    text-align: center;
    list-style: none;
    background-color: #FEFFF5;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    width: 20%;
}

.preloader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.staff{
    color: white;
}
.staff_title{
    text-align: center;
    margin: 10px 0;
    text-decoration: underline;
}
.staffList{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.staff{
    padding: 10px;
    border: #FEFFF5 solid 2px;
    margin: 5px;
}

.refresh_button{
    color: white;
}

.introButton{
    margin: 10px;
    padding: 3px 5px;
    border-radius: 7px;
    border: solid white 2px;
    background-color: #549BE3;
    font-family: Yanone Kaffeesatz, monospace;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
}